# Cvičení

Uvažuj, že provádíš analýzu stavu zásob v kamenném obchodě. Obchod je otevřený každý všední den, zásoby jsou přivezeny vždy první pracovní den v měsíci. Pro zjednodušení máme záznamy pouze o třech produktech.

In [1]:
import pandas

df = pandas.read_csv("inventory.csv")
df.head()

         date product_code  quantity
0  2022-01-03       DBR-56       344
1  2022-01-03       DBR-56       -17
2  2022-01-03       A35-AC        82
3  2022-01-03       A35-AC        -5
4  2022-01-03       DTC-23       197

1. Pomocí kumulativního součtu vytvoř v tabulce sloupec, který udává množství každého z produktů na skladě.

In [2]:
df = df.sort_values(["product_code", "date"])
df["quantity_cumsum"] = df.groupby("product_code")["quantity"].cumsum()

df.head()

          date product_code  quantity  quantity_cumsum
2   2022-01-03       A35-AC        82               82
3   2022-01-03       A35-AC        -5               77
7   2022-01-04       A35-AC        -7               70
10  2022-01-05       A35-AC        -2               68
13  2022-01-06       A35-AC        -7               61

2. V daném období zažíval obchod problémy se zásobováním a některé zboží tak bylo vyprodané. Zjisti pro každý z produktů, kolik dní v roce byl vyprodaný, tj. kolik dní v roce byl stav zásob 0.

In [3]:
df_no_stock = df[df["quantity_cumsum"] == 0]
df_no_stock.groupby("product_code").size()

product_code
A35-AC    43
DBR-56    56
dtype: int64

3. Vytvoř novou tabulku, kde ponecháš pro dané zboží pouze dny, kdy zboží nebylo vyprodáno. Z této tabulky pak spočítej průměrný počet prodaných kusů zboží za den. (Jde nám o to, jaký byl zájem zákazníků o zboží. Dny, kdy bylo zboží vyprodáno, tedy z analýzy vynecháme.)

In [4]:
# Nyní odebírám řádky, kdy není zboží vyprodáno
df_is_in_stock = df[df["quantity_cumsum"] > 0]  # na sklade je vice nez 0 

# Nyní vybírám řádky, kde je quantity méně nebo rovno 0 - odebírám doplňování zboží
df_sales = df_is_in_stock[df_is_in_stock["quantity"] < 0] # jde o prodej, ne o naskladneni

df_sales.head()

          date product_code  quantity  quantity_cumsum
3   2022-01-03       A35-AC        -5               77
7   2022-01-04       A35-AC        -7               70
10  2022-01-05       A35-AC        -2               68
13  2022-01-06       A35-AC        -7               61
16  2022-01-07       A35-AC        -4               57

4. Pomocí agregace spočítej, kolik bylo v průměru prodáno každého zboží.

In [5]:
df_sales.groupby("product_code")["quantity"].mean() # * -1

product_code
A35-AC     4.281106
DBR-56    19.323529
DTC-23     9.946154
Name: quantity, dtype: float64